<%- include('../partials/boilerplate') %> 
<%- include('../partials/navbar') %> 

<title>Flight <%= flight.flightNo %> </title>


    
<h2>Flight: <%= flight.flightNo %> To <%= flight.airport %>  </h2>

<p><b>ID#:</b> <%= flight._id %></p>
<p><b>Departure Airport:</b> <%= flight.airport %></p>
<p><b>Airline:</b> <%= flight.airline %></p>
<p><b>Flight Number:</b> <%= flight.flightNo %></p>
<p><b>Depature Date/Time:</b> <%= flight.departs %></p>

<br>
<br>

<h3>Add A Destination:</h3>
<form action="/flights/<%= flight._id %>/destinations" method="POST" >
<label for="arrivalAirport"><b>Airport:</b>  </label>
<select name="arrivalAirport" id="arrivalAirport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN" selected>DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
</select>
<br>
<label for="Arrival"><b>Arrival Date/Time:</b> 
    <input type="datetime-local" name="arrival">
</label>
<br>
<br>
<input type="submit" value="Add Arrival">
</form>
<br>
<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
          <th>Arrival Airport</th>
          <th>Arrival Date/Time</th>
      </tr>
    </thead>
    <tbody>
      
      <% flight.destinations.forEach(function(r) { %>
       
        <tr>
          <td><%= r.arrivalAirport %></td>
          <td><%= r.arrival %></td>
        </tr>
        <% }); %>
        <tr>
          <td colspan="2"></td>
      
        </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destination Yet</h5>
<% } %>
<br>
<br>
